{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block title %}404{% endblock title %}


{% block content %}
    <main class="main">

        <div class="site-breadcrumb" style="background: url({% static 'assets/img/breadcrumb/01.jpg' %})">
            <div class="container">
                <h2 class="breadcrumb-title">505 Error</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">505 Error</li>
                </ul>
            </div>
        </div>


        <div class="error-area py-120">
            <div class="container">
                <div class="col-md-8 mx-auto">
                    <div class="error-wrapper">
                        <div class="error-img">
                            <img src="{% static 'assets/img/error/404.png' %}" alt>
                        </div>
                        <h2>Opos... You are not authorized to view this page.!</h2>
                        <p>The page you looking for not found may be it not exist or removed.</p>
                        <a href="{% url 'home' %}" class="theme-btn">Go Back Home <i class="far fa-home"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
