{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block title %}Filtered{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/custom/car_select.css' %}">
{% endblock css %}


{% block content %}
    {% if cars %}
        <main class="main">

            <div class="car-area grid bg py-120">
                <div class="container">
                    <div class="row">
<!--                        <div class="col-lg-3">-->
<!--                            <form id="filter-form">-->
<!--                                <div class="car-sidebar">-->
<!--                                    <div class="car-widget">-->
<!--                                        <div class="car-search-form">-->
<!--                                            <h4 class="car-widget-title">Location</h4>-->
<!--                                            <select class="car-select" id="state" name="state">-->
<!--                                                <option value>Choose</option>-->
<!--                                                {% for state in states %}-->
<!--                                                <option value="{{ state.state }}">{{ state.state }} * {{ state.cars_count }} ads</option>-->
<!--                                                {% endfor %}-->
<!--                                            </select>-->
<!--                                        </div>-->

<!--                                        <h4 class="car-widget-title mt-5">Brand</h4>-->
<!--                                        <div class="form-group">-->
<!--                                            <select class="car-select" id="car_brand" name="car_brand">-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash;                                    <h4 class="car-widget-title mt-5">Model</h4>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                    <div class="form-group">&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                      <select class="form-control" multiple id="car_model" name="car_model">&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                          <option value>Choose</option>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                      </select>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--                                        <h4 class="car-widget-title mt-5">Inspected Cars</h4>-->
<!--                                        <ul>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="radio" id="inspected" name="inspected">-->
<!--                                                    <label class="form-check-label" for="inspected"> Inspected</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="radio" id="not_inspected" name="inspected">-->
<!--                                                    <label class="form-check-label" for="inspected"> Not Inspected</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->

<!--                                        <h4 class="car-widget-title mt-5">Price Range</h4>-->
<!--                                        <div class="price-range-box">-->
<!--                                            <select class="car-select" id="price" name="price">-->
<!--                                                <option value="100000, 1000000" id="one_m">Below ₦1m</option>-->
<!--                                                <option value="1000000, 2000000" id="one_two_m">₦1m - ₦2m</option>-->
<!--                                                <option value="2000000, 4000000" id="two_four_m">₦2m - ₦4m</option>-->
<!--                                                <option value="4000000, 6000000" id="four_six_m">₦4m - ₦6m</option>-->
<!--                                                <option value="6000000, 10000000" id="six_ten_m">₦6m - ₦10m</option>-->
<!--                                                <option value="10000000, 1000000000" id="ten_m">More than ₦10m</option>-->
<!--                                            </select>-->
<!--                                        </div>-->

<!--                                        <h4 class="car-widget-title mt-5">Transmission</h4>-->
<!--                                        <ul>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="transmission" name="transmission">-->
<!--                                                    <label class="form-check-label"> Automatic</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="transmission" name="transmission">-->
<!--                                                    <label class="form-check-label"> Manual</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="transmission" name="transmission">-->
<!--                                                    <label class="form-check-label"> Duplex</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->

<!--                                        <h4 class="car-widget-title mt-5">Fuel Type</h4>-->
<!--                                        <ul>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="fuel_type" name="fuel_type" value="Petrol">-->
<!--                                                    <label class="form-check-label"> Petrol</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="fuel_type" name="fuel_type" value="Diesel">-->
<!--                                                    <label class="form-check-label"> Diesel</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="fuel_type" name="fuel_type" value="CNG">-->
<!--                                                    <label class="form-check-label"> CNG</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="fuel_type" name="fuel_type" value="Hybrid">-->
<!--                                                    <label class="form-check-label"> Hybrid</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <div class="form-check">-->
<!--                                                    <input class="form-check-input" type="checkbox" id="fuel_type" name="fuel_type" value="Electric">-->
<!--                                                    <label class="form-check-label"> Electric</label>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <div class="car-widget">-->
<!--                                        <button class="theme-btn" type="button" id="filter_button">-->
<!--                                            <span class="far fa-filter"></span>-->
<!--                                            Find Your Car-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->


                        <div class="col-lg-12">
                            <div class="col-md-12">
                                <div class="car-sort">
                                    <h6>Showing 1-6 of {{cars.count}} Results</h6>
                                </div>
                            </div>

                            <div class="row">
                                {% for c in cars%}
                                <div class="col-md-6 col-lg-3">
                                    <div class="car-item">
                                        <div class="car-img">
                                            <span class="car-status status-1">{{c.status}}</span>
                                            <img src="{{c.main_image.url}}" style="height:150px; width:100%">
                                            <div class="car-btns">
                                                <a type="button" id="favorite-button" data-car-id="{{c.id}}">
                                                    {% if request.user in c.favorited_by.all %}
                                                        <i class="fas fa-xmark" id="remove_favorite_icon"></i>
                                                    {% else %}
                                                        <i class="far fa-heart" id="add_favorite_icon"></i>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-top">
                                                <h4>
                                                    <a href="{% url 'cars:detail' c.slug %}">
                                                        {{c.brand}}-{{c.model}}-{{c.model_year}}
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul class="car-list">
                                                <li><i class="far fa-steering-wheel"></i>{{c.transmission}}</li>
                                                <li><i class="far fa-road"></i>{{c.power}}</li>
                                                <li><i class="far fa-car"></i>Model: {{c.model_year}}</li>
                                                <li><i class="far fa-gas-pump"></i>{{c.fuel}}</li>
                                            </ul>
                                            <div class="car-footer">
                                                <span class="car-price">₦{{c.price|intcomma}}</span>
                                                <a href="{% url 'cars:detail' c.slug %}" class="theme-btn"><span class="far fa-eye"></span>Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            {% if cars.count > 6 %}
                                {% include 'includes/pagination.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </main>
    {% else %}
        <div class="download-area mb-120 mt-120">
            <div class="container">
                <div class="download-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="download-content">
                                <div class="site-heading mb-4">
                                    <span class="site-title-tagline justify-content-start">
                                        <i class="flaticon-drive"></i>
                                        No Result Found
                                    </span>
                                    <h6 class="site-title mb-10">do visit often for updates</h6>
                                    <p>
                                        Dear guests & users we couldn't find what you were searching for,
                                        click on the below button to contact us directly we would get back to you
                                        as quick as possible
                                    </p>
                                </div>
                                <div class="download-btn">
                                    <a href="{% url 'contact' %}">
                                        <i class="fa-solid fa-envelope"></i>
                                        <div class="download-btn-content">
                                            <span>Click to</span>
                                            <strong>Message Us</strong>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="download-img">
                        <img src="https://res.cloudinary.com/bennydeals/image/upload/v1629976365/bgs/BennyDealz_full_axdsgl.png" alt>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block js %}

    <script>
        // Function to populate brands based on the selected state
        function populateBrands(selectedState) {
            $.ajax({
                url: '{% url 'cars:car_filter' %}',  // Replace with the actual URL of your CarFilterView
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Populate brands dropdown based on the selected state
                    var brandDropdown = $('#car_brand');
                    brandDropdown.empty();
                    // brandDropdown.append('<option value="">Choose</option>');

                    var selectedStateData = data.data.find(function (stateData) {
                        return stateData.state === selectedState;
                    });

                    if (selectedStateData) {
                        $.each(selectedStateData.brands, function (index, brandData) {
                            brandDropdown.append(`<option value="${brandData.brand}">${brandData.brand} * ${brandData.cars_count} ads</option>`);
                        });

                        // Update Inspected Cars count
                        $('#inspected').next('label').html(`<span class="badge text-bg-${selectedStateData.inspected >= 1 ? 'success' : 'danger'}">${selectedStateData.inspected}</span> Inspected`);

                        // Update Not Inspected count
                        $('#not_inspected').next('label').html(`<span class="badge text-bg-${selectedStateData.not_inspected >= 1 ? 'success' : 'danger'}">${selectedStateData.not_inspected}</span> Not Inspected`);

                        // Update Price Range counts
                        $('#price option').each(function (index) {
                            $(this).text(`${$(this).text().split('(')[0]} * ${selectedStateData.price_ranges[index].count} ads`);
                        });

                        // Update Transmission counts
                        $('input[name="transmission"]').each(function (index) {
                            var transmissionType = Object.keys(selectedStateData.transmissions)[index];
                            var transmissionCount = selectedStateData.transmissions[transmissionType];
                            $(this).next('label').html(`${$(this).next('label').text().split('(')[0]} (<span class="badge text-bg-${transmissionCount >= 1 ? 'success' : 'danger'}">${transmissionCount}</span>)`);
                        });

                        // Update Fuel Type counts
                        $('input[name="fuel_type"]').each(function (index) {
                            var fuelType = Object.keys(selectedStateData.fuel_type)[index];
                            var fuelTypeCount = selectedStateData.fuel_type[fuelType];
                            $(this).next('label').html(`${$(this).next('label').text().split('(')[0]} (<span class="badge text-bg-${fuelTypeCount >= 1 ? 'success' : 'danger'}">${fuelTypeCount}</span>)`);
                        });
                    }
                },
                error: function (error) {
                    console.error('Error fetching brands:', error);
                }
            });
        }

        // Handle state change event
        $('#state').on('change', function () {
            var selectedState = $(this).val();
            populateBrands(selectedState);
        });
    </script>


    <!-- Filter Car -->
    <script>
        $(document).ready(function () {
            // Handle filtering when the button is clicked
            $('#filter_button').click(function () {
                filterCars();
            });

            // Function to perform filtering
            function filterCars() {
                var formData = $('#filter-form').serialize();

                // Make an AJAX request to the backend with the form data
                $.ajax({
                    url: "{% url 'cars:car_filter' %}",
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        // Clear existing car list
                        $('#car-list').empty();

                        // Update car list with filtered data
                        $.each(data.filtered_cars, function (index, car) {
                            var carItem = `
                                <div class="col-md-6 col-lg-4">
                                    <div class="car-item">
                                        <div class="car-img">
                                            <span class="car-status status-1">${car.status}</span>
                                            <img src="${car.get_main_image}" style="height:150px; width:100%">
                                            <div class="car-btns">
                                                <a type="button" id="favorite-button" data-car-id="${car.slug}">
                                                    ${car.favorited_by ? '<i class="fas fa-xmark" id="remove_favorite_icon"></i>' : '<i class="far fa-heart" id="add_favorite_icon"></i>'}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-top">
                                                <h4><a href="/cars/${car.slug}">${car.get_car_name}</a></h4>
                                            </div>
                                            <ul class="car-list">
                                                <li><i class="far fa-steering-wheel"></i>${car.transmission}</li>
                                                <li><i class="far fa-road"></i>${car.power}</li>
                                                <li><i class="far fa-car"></i>Model: ${car.model_year}</li>
                                                <li><i class="far fa-gas-pump"></i>${car.fuel}</li>
                                            </ul>
                                            <div class="car-footer">
                                                <span class="car-price">₦${car.price.toLocaleString()}</span>
                                                <a href="/cars/${car.slug}" class="theme-btn"><span class="far fa-eye"></span>Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;

                            $('#car-list').append(carItem);
                        });
                        console.log(data);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
        });
    </script>

{% endblock %}
