<!-- Side switcher (offcanvas)-->
<div class="sidebar-popup">
    <div class="sidebar-wrapper">
        <div class="sidebar-content">
            <button type="button" class="close-sidebar-popup"><i class="far fa-xmark"></i></button>
            <div class="sidebar-logo">
                <img src="https://res.cloudinary.com/bennydeals/image/upload/v1629976365/bgs/BennyDealz_full_axdsgl.png" width="50px" height="50px" alt>
            </div>
            <div class="sidebar-about">
                <h4>About Us</h4>
                <p>
                    BennyDealz Car Dealership offers a premium selection of quality vehicles from top brands,
                    providing customers with a diverse range of options.
                    With a commitment to excellence and customer satisfaction.
                </p>
            </div>
            <div class="sidebar-contact">
                <h4>Contact Info</h4>
                <ul>
                    <li>
                        <h6>Email</h6>
                        <a href="https://live.themewild.com/cdn-cgi/l/email-protection#6e070008012e0b160f031e020b400d0103"><i class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="167f78707956736e777b667a733875797b">support@bennydealz.com</span></a>
                    </li>
                    <li>
                        <h6>Phone</h6>
                        <a href="tel:+2348186612324"><i class="far fa-phone"></i>+2348186612324</a>
                    </li>
                    <li>
                        <h6>Address</h6>
                        <a href="#"><i class="far fa-location-dot"></i>Abakaliki Ebonyi, Nigeria</a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-social">
                <h4>Follow Us</h4>
                <a href="https://www.facebook.com/profile.php?id=100085554627343&mibextid=LQQJ4d"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/bennydealz_autos?igsh=NGVhN2U2NjQ0Yg=="><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com/@bennydealz?si=bPmjOroCH2MnJ3aB"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
