.car-select {
    width: 100%;
    height: 55px;
    line-height: 54px;
    border-radius: 10px;
    font-size: 16px;
    color: #757F95;
    padding-left: 20px;
}

.car-select::after {
    width: 9px;
    height: 9px;
    right: 20px;
    margin-top: -7px
}

.car-select:focus {
    border-color: #FFC711;
}

.car-select .list {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/5%)
}

.car-select .option.focus,.car-select .option.selected.focus,.car-select .option:hover {
    border-radius: 8px;
    background: rgba(239,23,33,.05);
    color: #FFC711;
}